<section class="bg-primary" id="about">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A Quick Introduction</h2>
                <hr class="light">
                <p class="text-faded">         
                    I am a Software and Machine Learning Engineer and I can provide solutions about: </p>
                <p> 
                    <li>Application Development</li>                 
                    <li>Learning Applications</li> 
                    <li>Language Processing</li>  
                    <li>Data Analysis</li>
                </p></p>
                <a href="#education" class="btn btn-secondary btn-xl page-scroll">More about my Education below!</a>

            </div>
        </div>
    </div>
</section>
