<header>
    <div class="header-content">
        <div class="header-content-inner">
            <br>
            <br>
            <br>
            <br>
            <h1> Hi! <br>
               I am Konstantinos Kyrkos </h1>
            <hr>
            <p> This is my personal website / blog where you can find more information about 
                my education and my work. 
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More About Me</a>

            

        </div>
    </div>
</header>
