<header>
    <div class="header-content">
        <div class="header-content-inner">
            <br>
            <br>
            <br>
            <br>
            <h1> Hi! <br>
               I am Konstantinos Kyrkos </h1>
            <hr>
            <p> I am a Software and Machine Learning Engineer and I can provide solutions about: </p>
            <p> 
                Web Application Development <br>                 
                Machine Learning Applications <br>
                Natural Language Processing <br> 
                Data Analysis
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More About Me</a>

            

        </div>
    </div>
</header>
