<section class="no-padding" id="projects">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/konkyrkos/sentiment-classifier-classic-algorithms" class="portfolio-box">
                    <img src="img/portfolio/sentiment-analysis1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Text Analytics - NLP
                            </div>
                            <div class="project-name">
                                Sentiment Classifier using Classic Machine Learning Algorithms
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/konkyrkos/sentiment-classifier-mlp" class="portfolio-box">
                    <img src="img/portfolio/sentiment-analysis3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Text Analytics - NLP
                            </div>
                            <div class="project-name">
                                Sentiment Analysis using Multi Layer Perceptrons
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/konkyrkos/sentiment-classifier-rnn" class="portfolio-box">
                    <img src="img/portfolio/sentiment-analysis2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Text Analytics - NLP
                            </div>
                            <div class="project-name">
                                Sentiment Analysis using Recurrent Neural Networks
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/konkyrkos/bigram-trigram-language-models" class="portfolio-box">
                    <img src="img/portfolio/lan-models.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Text Analytics - NLP
                            </div>
                            <div class="project-name">
                               Bigram & Trigram Language Models
                            </div>
                        </div>
                    </div>
                </a>
            </div>   
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/konkyrkos/hyperspectral-image-classification" class="portfolio-box">
                    <img src="img/portfolio/image-proc.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Image Processing - Classification
                            </div>
                            <div class="project-name">
                                Hyperspectral Image Processing & Classification
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/konkyrkos?tab=repositories" class="portfolio-box">
                    <img src="img/portfolio/more.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                More Projects
                            </div>
                            <div class="project-name">
                                Visit my Github Repositories
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
