<section class="bg-primary" id="skills" >
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Skills</h2>
        <hr class="light">
        
        <div class="accordion" id="skillAccordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Software Engineering Skills
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <li> OOP: C#, Java </li>
                <li> Scripting: Python, SQL, R, HTML </li>
                <li> Frameworks: .Net, Spring, Bootstrap </li>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Machine / Deep Learning Skills
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <li> Tensorflow / Keras </li>
                <li> Sci-Kit Learn / SciPy </li>
                <li> Nltk / Gensim  </li>       
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Data Science / Analytics Skills
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <li> Pandas </li>
                <li> Scipy</li>
                <li> Matplotlib / Seaborn  </li>
                <li> SQL  </li>
                <li> Beautifulsoup / Selenium</li>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Tools
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                <li> Visual Studio, Jupyter Notebook, Studio Code, IntelliJ, PyCharm, R Studio </li>
                <li> SQL Server Management Studio, Spark, Hadoop User Interface </li>
                <li> Git, Source Tree  </li>
              </div>
            </div>
          </div>
        </div>
      </div> 

    </div>
  </div>
   
</section>
